<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Delete a Student</title>
</head>
<body>
<h1>Delete a Student from our Database</h1>

<h3>Enter a name to be deleted:</h3>
<form action="/delete" method="POST">
	<input type="text" name="name" placeholder="Name">
<button type="submit">Submit</button>
</form>

</body>
</html>
